<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/053708e38e.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js.js"></script>

</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Register</h1>
            <form name="myform" action="{{ url_for('register') }}" method="post" onsubmit="return Rinp()">
                <div class="input_group">
                    <div class="input_field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="uname" placeholder="UserName">

                    </div>

                    <div class="input_field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="umail" placeholder="Gmail">

                    </div>

                    <div class="input_field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="upas" placeholder="Password">

                    </div>
                    <p>Login <a href="login.html"> Click Here!</a></p>
                </div>
                <div id="errorBox"></div>
                <div class="btn-field">
                    <button type="submit" >Register</button>

                </div>
            </form>
        </div>

    </div>

</body>
</html>